Language: Cpp
BasedOnStyle: Microsoft
AllowShortBlocksOnASingleLine: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveAssignments: AcrossEmptyLines
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
ColumnLimit: '135'
IndentCaseLabels: true
IndentAccessModifiers: false
PointerAlignment: Left
SortIncludes: true
SpacesBeforeTrailingComments: 2
TabWidth: '4'
UseTab: Always
IndentWidth: '4'
PenaltyBreakBeforeFirstCallParameter: 100000
PenaltyBreakAssignment: 100000
QualifierAlignment: Left